{{extend 'layout.html'}}
<!--  -->


<style>
    img{
        padding:10px;
        
    }

</style>

<h1>About Us</h1>
<img src="http://www.livinglutheran.com/blog/images/not-me-lord-ENTRY_6-10-13.jpg" alt="Smiley face" align='left'>
This is where we say that this is only a page for connececting you with other swapers. We are not resposible for any lost, stolen, or damaged items.
GI YEA GI YEA!!!
<p>
    Describe the general idea of the web app you want to build. <br>
Our web application will let users exchange/borrow items to their friends or people in their network. This site will encourage collaborative consumption, sociability through sharing, peer-to-peer relationships, and helps to cut down on the overall use of resources and money. Members can list items they are willing to lend on the site and scan other members' lists for things they want to borrow. They can also swap items to be given back eventually.  When members need a specific item, notifications are automatically sent to people who have them and offers are made. 
</p>
