{{extend 'layout.html'}}
<h3>
Items You've Assigned
</h3>
<div id="bar">
    {{=A('Home', _class='btn', _href=URL('default','index'))}} 
    {{=A('New Request', _class='btn', _href=URL('default','todoForm'))}} 
    {{=A('To Do', _class='btn', _href=URL('default','itemsAssigned'))}}
</div>
<br>
<div id="waiting">
    <h4>
        Awaiting Confirmation
    </h4>
       <table border="1">
        <tr>
            <td>
                Item Name
            </td>
            <td>
                Item Description
            </td>
            <td>
                Item Status
            </td>
        </tr>
        {{for r in list1:}}
            {{if r.accepted=='waiting':}}
                <tr>
                    <td>
                        {{=r.To_Do}}
                    </td>
                    <td>
                        {{=r.description}}
                    </td>
                    <td>
                        {{=r.status}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
    </table>
</div>

<div id="accepted">
    <h4>
        Accepted
    </h4>
       <table border="1">
        <tr>
            <td>
                Item Name
            </td>
            <td>
                Item Description
            </td>
            <td>
                Item Status
            </td>
        </tr>
        {{for r in list1:}}
            {{if r.accepted=='yes':}}
                <tr>
                    <td>
                        {{=r.To_Do}}
                    </td>
                    <td>
                        {{=r.description}}
                    </td>
                    <td>
                        {{=r.status}}
                    </td>
                </tr>
            {{pass}}
        {{pass}}
    </table>    </ul>
</div>


<div id="rejected">
    <h4>
        Rejected
    </h4>
       <table border="1">
        <tr>
            <td>
                Item Name
            </td>
            <td>
                Item Description
            </td>
        </tr>
        {{for r in list1:}}
            {{if r.accepted=='no':}}
                <tr>
                    <td>
                        {{=r.To_Do}}
                    </td>
                    <td>
                        {{=r.description}}
                    </td>
                 </tr>
            {{pass}}
        {{pass}}
    </table>
</div>


<style type="text/css">
    #waiting
    {
        position:absolute;
        overflow:hidden;
        max-width:30em;
        border:thin black solid;
        border-style:solid none none solid;
        padding:10px;
        display:block;
    }
    #accepted
    {
        margin-left: 30em;
        position:absolute;
        overflow:hidden;
        max-width:30em;
        border:thin black solid;
        border-style:solid none none solid;
        padding:10px;
        display:block;
    }
    #rejected
    {
        padding:10px;
        border:thin black solid;
        border-style:solid none none solid;
        display:block;
        max-width:30em;
        margin-left: 60em;
        position:absolute;
        overflow:hidden;
    }
    
</style>
