{{extend 'layout.html'}}
<!--  -->

<style>
    table{
        margin-right:10px;
        margin-bottom:25px;
        padding:15px;
        float:left;
        /*border:1px solid red;*/
        
    }

</style>

<h1>What your friends are offering</h1>

<!--Table should contain list of friends when clicked it will update iframe with avalile items of friend --> 
<table id='friendsList' width="30%" border="0" cellspacing="0" cellpadding="1" align='left'>
    <tr>
        <td><b>Friends</b></td>
    </tr>
    <tr>
        <td>*Alan</td>
    </tr>
    <tr>
        <td>Vanda</td>
    </tr>
    <tr>
        <td>Jason</td>
    </tr>
    <tr>
        <td>Alejandro</td>
    </tr>
</table>

<!-- iframe loads fristuff page with id of friend and loads the avalible items-->
<iframe src={{=avacontent}} align='right' width='60%' height='700px' frameborder="0"></iframe>
